@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');


#signin-container {
    padding: 50px;
}

#signin-container .sigin-form {
    background-color: #fff;
    color: #8d8d8d;
    margin: auto;
    max-width: 380px;
    padding: 28px;
    text-align: center;
    font-family: Helvetica, arial, sans-serif;
}

#signin-container .nike-logo {
    width: 43px;
}

#signin-container h1 {
    padding: 32px 0 27px;
    color: #111;
    font-family: 'Bayon', sans-serif;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 28px;
    margin: 0 auto;
    max-width: 20ch;
    padding: 32px 0 26px;
    text-align: center;
    font-weight: 400;
}

#signin-container input {
    border: 1px solid #e5e5e5;
    font: 14px Helvetica;
    height: 40px;
    line-height: 17px;
    padding: 0 16px;
    width: 100%;
    margin-top: 20px;
    outline: none;
    color: #8d8d8d;
    border-radius: 3px;
}



#signin-container ::placeholder {
    color: #8d8d8d;
}

#signin-container .forgot-pwd-text {
    color: #bcbcbc;
    font-size: 12px;
    cursor: pointer;
}

#signin-container .keep-me-signedIn-container {
    display: inline-block;
    width: 50%;
    margin: 15px 0 21px;
    text-align: left;
    position: relative;
}

#signin-container input[type="checkbox"] {
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
}

#signin-container .is-invalid {
    border-color: #fe0000;
}

#signin-container .error {
    text-align: left;
    color: #fe0000;
    display: block;
    font-size: 12px;
    padding: 12px 0 8px;
}

#signin-container .forgot-pwd-container {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin: 15px 0 20px;
}

#signin-container .keep-me-signedIn-text {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin-left: 36px;
}

#signin-container p {
    color: #8d8d8d;
    font-size: 12px;
    font-family: Helvetica;
    text-align: center;
    margin: 1em;
}

#signin-container .link {
    color: #8d8d8d;
}

#signin-container button {
    background-color: #000000;
    color: #fff;
    font-family: 'Bayon', sans-serif;
    border: 0;
    width: 100%;
    font-size: 15px;
    padding: 0 16px;
    height: 40px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#signin-container .join-us {
    color: black;
}