#JordanNav {
    padding: 0.5em 3em;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

#JordanNav img:hover {
    opacity: 0.5;
}

#JordanNav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#JordanNav .nav-Link {
    background-color: transparent;
    border: 0;
    text-decoration: none;
    font-size: 13px;
    color: #111111;

}

#JordanNav span {
    font-size: 13px;
    font-weight: lighter;
    padding: 0.5em 1em;
    color: #111111;
}