@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Passion+One&display=swap");

#Home .banner {
  background-color: #f5f5f5;
  height: auto;
  min-height: 58px;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}

#Home div p {
  text-align: center;
  padding-top: 20px;
  font-family: inherit;
  color: #111;
  font-size: 16px;
}

#Home .home-container {
  padding: 0 3em;
}

#Home .banner-image {
  width: 100%;
}

#Home h4 {
  color: #111111;
  font-family: "Passion One", cursive;
  font-size: 72px;
  line-height: 55px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}

#Home .desc-1{
    color: #111111;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 26px;
}

#Home .download-btn{
    padding: 4.5px 18.5px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    background: #111;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#Home video{
  width: 100%;
}
