.postapp {
    height: 100%;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.label-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 18%
}

.label-name {
    margin-bottom: 5px;
}

.label-input {
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.btn{
    background-color: white;
    border: 0;
    align-self: center;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 1000;
}