@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@700&family=Lilita+One&family=Passion+One&display=swap");

#Footer {
  width: 100%;
  padding: 20px;
  background-color: #111111;
  margin-top: 20px;
}

#Footer .links {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #323232;
}

#Footer .list {
  color: white;
  font-size: 14px;
  margin-bottom: 12px;
  font-family: "BenchNine", sans-serif;
  letter-spacing: 0.5px;
}

#Footer button {
  border: 0;
  padding:0px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#Footer button span{
    text-align: left;
}

#Footer .empty{
    padding: 10px;
}

#Footer .hidden-list{
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #323232;
    padding: 10px 0px;
}

#Footer .hidden-list li{
    color: #7e7e7e;
    font-size: 12px;
    line-height: 2.333333333333333;
    cursor:pointer;
}