@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Oswald:wght@500&display=swap');

#Register-container {
    padding: 50px;
}

#Register-container .sigin-form {
    background-color: #fff;
    color: #8d8d8d;
    margin: auto;
    max-width: 380px;
    padding: 28px;
    text-align: center;
    font-family: Helvetica, arial, sans-serif;
}

#Register-container .nike-logo {
    width: 43px;
}

#Register-container h1 {
    padding: 32px 0 27px;
    color: #111;
    font-family: 'Bayon', sans-serif;
    font-family: 'Oswald', sans-serif;
    line-height: 28px;
    font-size: 26px;
    margin: 0 auto;
    max-width: 20ch;
    padding: 32px 0 26px;
    text-align: center;
}

#Register-container .description {
    font-family: HelveticaNeue, Helvetica !important;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #8d8d8d;
}

#Register-container input {
    border: 1px solid #e5e5e5;
    font: 14px Helvetica;
    height: 40px;
    line-height: 17px;
    padding: 0 16px;
    width: 100%;
    margin-top: 20px;
    outline: none;
    color: #8d8d8d;
}

#Register-container select {
    border: 1px solid #e5e5e5;
    background-color: transparent;
    font: 14px Helvetica;
    height: 40px;
    line-height: 17px;
    padding: 0 16px;
    width: 100%;
    margin-top: 20px;
    outline: none;
    color: #8d8d8d;
}

#Register-container ::placeholder {
    color: #8d8d8d;
}

#Register-container .forgot-pwd-text {
    color: #bcbcbc;
    font-size: 12px;
    cursor: pointer;
}

#Register-container .keep-me-signedIn-container {
    display: inline-block;
    width: 50%;
    margin: 15px 0 21px;
    text-align: left;
}

#Register-container .forgot-pwd-container {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin: 15px 0 20px;
}

#Register-container .keep-me-signedIn-checkbox {
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    margin: 0;
}

#Register-container .keep-me-signedIn-text {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
}

#Register-container p {
    color: #8d8d8d;
    font-size: 12px;
    font-family: Helvetica;
    text-align: center;
    margin: 1em;
}

#Register-container .link {
    color: #8d8d8d;
}

#Register-container button {
    background-color: #000000;
    color: #fff;
    font-family: 'Bayon', sans-serif;
    border: 0;
    width: 100%;
    font-size: 15px;
    padding: 0 16px;
    height: 40px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#Register-container .join-us {
    color: black;
}

#Register-container .birthday {
    color: #8d8d8d;
    font-size: 12px;
    font-family: Helvetica;
    margin: 0;
    margin-top: 10px;
}

#Register-container .is-invalid {
    border-color: #fe0000;
}

#Register-container .error {
    text-align: left;
    color: #fe0000;
    display: block;
    font-size: 12px;
    padding: 12px 0 8px;
}

#Register-container .keep-me-signedIn-container {
    display: inline-block;
    width: 100%;
    margin: 5px 0 13px;
    text-align: center;
    position: relative;
}


#Register-container input[type="checkbox"] {
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
}

#Register-container .keep-me-signedIn-text {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    padding-left: 34px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}


#Register-container ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

#Register-container ul li {
    width: 47.5%;
    text-align: center;
    font-family: Helvetica !important;
    font-size: 14px;
    color: #8d8d8d;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 40px;
    padding-top: 12px;
    cursor: pointer;
}

#Register-container .selected{
    border: 1px solid black;
    color: black;
}